name: Deployment Multi Container
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - run: docker build -t ahmadleoyudanto/docker-multi-container-client-test -f ./client/Dockerfile.dev ./client
      - run: docker run -e CI=true ahmadleoyudanto/docker-multi-container-client-test npm test

      - run: docker build -t ahmadleoyudanto/docker-multi-container-client ./client
      - run: docker build -t ahmadleoyudanto/docker-multi-container-nginx ./nginx
      - run: docker build -t ahmadleoyudanto/docker-multi-container-server ./server
      - run: docker build -t ahmadleoyudanto/docker-multi-container-worker ./worker

      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v18
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: docker-gh
          environment_name: Dockergh-env
          existing_bucket_name: elasticbeanstalk-us-west-1-123456789012
          region: us-west-1
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip
